<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/home-page">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item nav-category">Other Options </li>
      <li class="nav-item">
        <a class="nav-link" href="/my-transactions-page" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-chart-line"></i>
          <span class="menu-title">My Transactions</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/options-page" aria-expanded="false" aria-controls="form-elements">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">Investment Options</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Investo-ai-page" aria-expanded="false" aria-controls="charts">
          <i class="menu-icon fa fa-eercast"></i>
          <span class="menu-title">Investo-AI</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/advisory-page" aria-expanded="false" aria-controls="charts">
          <i class="menu-icon fa fa-eercast"></i>
          <span class="menu-title">Financial Advisory</span>
        </a>
      </li>
    </ul>
  </nav>