   <ul class="navbar-nav ms-auto">
    <li class="nav-item dropdown d-none d-lg-block user-dropdown">
      <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="img-xs rounded-circle" src="/img/user-image.jpg" alt="Profile image"> </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
        <div class="dropdown-header text-center">
          <img class="img-xs rounded-circle" src="/img/user-image.jpg" alt="Profile image"> </a>
          <p class="mb-1 mt-3 fw-semibold">username</p>
          <p class="fw-light text-muted mb-0">email@email.com</p>
        </div>
        <a class="dropdown-item" href="/login-page"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
      </div>
    </li>
  </ul>
  <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
    <span class="mdi mdi-menu"></span>
  </button>