<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password - Investopia</title>
    <link rel="stylesheet" href="/css/forget-password-page.css">
    <link rel="shortcut icon" href="/img/BannerNoTitle.png" />
</head>
<body>
    <div class="forget-password-container">
        <form action="/submit-forget-password" method="POST">
            <h2>Reset Your Password</h2>
            <p>Please enter your email address to request a password reset:</p>
            <div class="input-group">
                <input type="email" placeholder="Email" name="email" required>
            </div>
            <p id="message"><%= message %></p>
            <p id="error"><%= error %></p>
            <button type="submit">Send Reset Link</button>
            <p class="login-link">Remembered your password? <a href="/login-page">Login here</a>.</p>
        </form>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>
