body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 6em;
    margin: 0;
    color: #152d99;
  }
  
  p {
    font-size: 1.5em;
    color: #333;
  }
  
  a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #0056b3;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  a:hover {
    background-color: #152d99;
  }
  