body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-password-container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

.message {
    color: green;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0056b3;
    transition: background-color 0.3s ease;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #152d99;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.forget-password-container p {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #6c757d;
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid #dee2e6;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
  }
